.*/*
!.github/*
!.devcontainer/devcontainer.json
.vscode/*

.idea
**/target/

os/src/link_app.S
os/src/linker.ld

fs-img-src/**/*.img
tmp
utils

./kernel-qemu
./sbi-qemu
./sdcard.img
